<div class="container p-0 " >
    <div class="row fs-1 text-uppercase" >
        All Orders
        <div class=" mb-2" style="height: 2px; background-color: #000;"></div>
    </div>
    <!-- *ngIf="userOrders.length==0" -->
    <div *ngIf="isLoggedIn">
    <div *ngIf="userOrders.length==0">
        <div class="d-flex mt-4">
          <div>
            <p class="fs-2">You Don't Have Any Order's Yet  </p>

          </div>
          <div>
            <p><a routerLink="/menu" class="nav-link fs-2 p-0 ">&nbsp; Navigate to Menu</a></p>
          </div>
           
        </div>
    </div>
    <div *ngIf="userOrders.length>0">
        <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Orders</th>
                <th scope="col">Recipes</th>
                <th scope="col">Status</th>
                <th scope="col">Address</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of userOrders">
                <!-- Multiple orders should be added here -->
              <tr>
                <td scope="row">
                    <a id="orderid">{{order.orderId}}</a>
                </td>
                <td >
                     <div *ngFor="let recipe of order.recipes">
                      Recipe Id:{{recipe.recipeId}}
                     </div>
                </td>
                <td>
                     <span *ngIf="order.status==0" class="text-danger text-capitalize">order placed</span>
                     <span *ngIf="order.status==1" class="text-warning text-capitalize">preparation</span>
                     <span *ngIf="order.status==2" class="text-primary text-capitalize">out of delivery</span>
                     <span *ngIf="order.status==3" class="text-success text-capitalize">ordered</span>
                     

                </td>
                <td>{{order.address}}</td>
                <!-- new Date(user[0].orderId.date).toString("MMM dd") -->
                <td>{{covertToString(order.orderId)}}</td>
                
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>