#linput{
    background-color: rgb(218, 216, 216); 
    height: 2.7rem;
    color: black;
    padding-left: 1.5rem;
    
}
#linput:hover{
    background-color:rgb(192, 188, 188);
}
#table{
    background-color: rgb(238, 167, 167); 
}
#border{
    border-bottom: 3px solid black;
}
#btn{
    margin-top: 1.5rem;
    background-color:#724cf9 ;
    padding: .5rem;
}

#btn:hover{
    background-color:#522bdf ;

    filter: drop-shadow(0 0 0.75rem #724cf9);
}
#pointer{
     cursor: pointer;
}