<div class="container">
    <div>
        <!-- (click)="handleAddAddress()" -->
        <div class="d-flex">
            <p class="fs-2 fw-bold">Location</p>
            <div id="tag-line" class="mx-2 flex-grow-1 align-self-center"></div>
        </div>
        <a *ngIf="isAddressAdded==false" class="btn btn-success mt-1 text-capitalize" id="btn" data-bs-toggle="modal" href="#UpdateModelPopUp"
            role="button">Add Address</a>
        
        <div *ngIf="isAddressAdded==true">
              <!-- Displaying user details -->
               <div>
                   <p class="fs-5 fw-bolder">Address:</p>
                   <p>{{address}}</p>
                   <p>Phonenumber: {{phonenumber}}</p>
                   <p>Pincode: {{pincode}}</p>
               </div>
                <!--Location  Buttons-->
        <a *ngIf="isAddressAdded==true" class="btn btn-success mt-2 text-capitalize" id="btn" data-bs-toggle="modal" href="#UpdateModelPopUp"
        role="button">Update Address</a>
        </div>
        <div>

        </div>
    </div>

    <!-- Payment Mode -->
    <div class=" mt-5">
        <div class="d-flex">
        <p class="fs-2 fw-bold">Mode Of Payment</p>
        <div id="tag-line" class="mx-2 flex-grow-1 align-self-center"></div>
    </div>
        <!-- Radio Button CashOnDelivery -->
        <div>
            <div class="form-check">
                <input #cmode class="form-check-input border-2" value="cod" type="radio" (change)="isCodSelected && paymentModeSelected(cmode.value)" [(ngModel)]="isCodSelected" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label text-capitalize text-dark fw-bolder" for="flexRadioDefault1">
                    cash on delivery
                </label>
            </div>
            <!-- Radio Button Wallet -->
            <div class="form-check">
                <input class="form-check-input border-2"   type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                <label class="form-check-label text-capitalize text-dark fw-bolder" for="flexRadioDisabled">
                  <s>Wallet</s>
                </label>
              </div>
              <!-- Radio Button Credit/DebitCard -->
              <div class="form-check">
                <input class="form-check-input border-2" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                <label class="form-check-label text-capitalize text-dark fw-bolder" for="flexRadioDisabled">
                  <s>Credit / Debit Card</s>
                </label>
              </div>
              <!-- Radio Button NetBanking -->
              <div class="form-check">
                <input class="form-check-input border-2" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                <label class="form-check-label text-capitalize text-dark fw-bolder" for="flexRadioDisabled">
                 <s> Net Banking</s>
                </label>
              </div>
        </div>
        <div class="mt-3 ">
            <input [disabled]="isCodSelected==false" type="button" id="btn" class="btn text-capitalize" value="place order" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" (click)="handlePlaceOrderButton()"/>
        </div>
    </div>


</div>
<!-- Successfull model -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title text-center" id="exampleModalLabel">Order Successfull</h5> -->
        <button type="button" class="btn-close" (click)="handleCloseIconOnSuccess()" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div  id="body" class="position-relative">
        <!-- Success Model Body -->
        <!-- <button style="position: absolute; top:40px;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <div class="card mb-3" >
            <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
              <i class="checkmark">✓</i>
            </div>
              <h1>Success</h1> 
              <p>We received your purchase request;<br/> we'll be in touch shortly!</p>
            </div>
      </div>
    </div>
  </div>
</div>
<!-- Address Box Model -->
<div id="model" class="modal fade" id="UpdateModelPopUp" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase fw-bold" id="exampleModalToggleLabel" style="color:#724cf9">Edit Customer
                    Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="fs-5 text-capitalize fw-bold" style="color:#724cf9">
                    Address
                </div>
                <div class="input-group">
                    <!-- value={{editProductName}} -->
                    <input #uname class="form-control" value={{editAddress}} required>
                </div>
                <div class="fs-5 text-capitalize fw-bold" style="color:#724cf9">
                    Phone Number
                </div>
                <div class="input-group">
                    <!-- value={{editProductDesc}} -->
                    <input #udesc class="form-control" value={{editPhoneNumber}} required>
                </div>
                <div class="fs-5 text-capitalize fw-bold" style="color:#724cf9">
                    Pincode
                </div>
                <div class="input-group">
                    <!--  value={{editProductCost}} -->
                    <input #ucost class="form-control" value={{editPincode}} required>
                </div>
            </div>
            <div class="modal-footer">
                <!-- (click)="handleUpdateBtn(uname.value,udesc.value,ucost.value)" -->
                <!-- <button  class="btn btn-primary" id="btn">Update</button> -->
    
                <button *ngIf="isAddressAdded==false" type="" class="btn btn-primary" id="btn"
                    (click)="AddAddressButton(uname.value,udesc.value,ucost.value)">Add</button>
                <button *ngIf="isAddressAdded==true" type="" class="btn btn-primary" id="btn"
                    (click)="updateAddressButton(uname.value,udesc.value,ucost.value)">Update</button>

            </div>
        </div>
    </div>
</div>