<nav  class="navbar fixed-top navbar-expand-lg navbar-light" id="navbar">
    <div class="container">
        <a href="" class="navbar-brand">
            <img src="../../assets/static/images/Logo.png" alt="pizza-logo" weight="30" height="40">
        </a>

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
            <!-- Left links -->
            <ul  class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link  fw-bolder active" id="nav-text" routerLink="/home">Home</a>
                </li>
                <li class="nav-item" >
                    <!-- *ngIf="isLoggedIn==true" -->
                    <a class="nav-link  fw-bolder active" id="nav-text" routerLink="/menu">Menu</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn==false">
                    <a class="nav-link  fw-bolder active" id="nav-text" routerLink="/login">Login</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn==false">
                    <a class="nav-link  fw-bolder active" id="nav-text" routerLink="/register">Register</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn==true">
                    <a class="nav-link  fw-bolder active" id="nav-text" routerLink="/customer/orders">My Orders</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn==true">
                    <a class="nav-link  fw-bolder active" id="nav-text" routerLink="/home" (click)="handleLogoutInNavBar()">Logout</a>
                </li>
                <li class="nav-item"  id="carticon">
                    <a  class="nav-link  fw-bolder active"  routerLink="/cart" >
                         <img src="../../assets/static/images/cart.png" alt="" id="cart-button" class=" px-3 py-1">
                    </a>
                    <div  class="text-center" id="cartqty">{{totalQtyInCart}}</div>

                </li>
            </ul>
            <!-- Left links -->
        </div>
    </div>
</nav>