<div  class="container-fluid d-flex align-items-center" id="homebody-cotainer">
    <div class="container ">
        <div class="row " data-aos="fade-right" data-aos-duration="500">
            <div  class="">
               <img  id="home-logo" class="" src="../../assets/static/images/Logo.png" alt="logo" >
            </div>
            <div>
                <h3  class="text-capitalize text-light my-3 fw-bolder ">pizza man online Ordering</h3>
            </div>
            <div>
                <h1 id="tag" class="fw-lighter text-light ">Your Yummy Pizza Delivered Fast & Fresh</h1>
            </div>
            <div  >
                <input id="btn" type="button" class="btn btn-primary fs-5" value="Order Now" (click)="handleOrderNowBtn()">
            </div>
        </div>
    </div>

</div>
<div id="homebody-cotainer">

</div>