<div class="position-relative">
    <div>
        <h1 class="p-1 pt-0">
            Cart
        </h1>
    </div>
    <!-- When Cart is empty -->
    <div *ngIf="isCartEmpty==true" class="d-flex flex-column justify-content-center align-items-center" style="height:400px">
        <div>
            <i class="fa fa-shopping-cart" id="cart-icon"></i>

        </div>
        <div><h2 class="fw-bold" id="cart-icon">Cart is Empty!</h2>
        </div>
    </div>

    <!-- When items added to cart -->
    <div id="after-items-added-to-cart" *ngIf="isCartEmpty==false">
        <!-- Clear Button -->
        <div id="clear-cart">
            <input type="button" (click)="handleClearCartButton()" class="btn fs-5" id="clear-cart-btn" value="Clear Cart">
        </div>

        <!-- Go To Cart Button  -->
        <input type="button" id="gotocart-btn" class="container btn btn-primary text-uppercase"
            (click)="goToCartPageViaBtn()" value="Go To Cart">
        <div id="total-price" class="p-2 fs-5 text-dark fw-bolder"><span>Total: {{miniCartRecipesTotalPrice |  currency : 'INR' : 'symbol' : '1.0-0' }}</span>
            <!-- {{recipeObj.recipePrice*recipeObj.recipeQuantity | currency : 'INR' : 'symbol' : '1.0-0' }}</span> -->
        </div>

        <!-- items- added to cart -->
        <div data-aos="fade-up"
        data-aos-anchor-placement="center-bottom" id="cart-items-body">
            <hr *ngIf="recipeListObj.length>0" class="bg-dark border-2 border-top border-dark" id="cartTopLine">

            <div  *ngFor="let recipeObj of recipeListObj">
                <div class="">

                    <div class="fs-5 text-dark fw-bolder ">
                        {{recipeObj.recipeName}}
                    </div>
                    <div id="card-model-desc">
                        {{recipeObj.recipeDescirption}}
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-2">
                        <div class="fs-6 text-dark">
                            Price:<span>{{recipeObj.recipePrice | currency:'INR'}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            
                            <div class="">
                                <!-- button2 -->
                                <i class="fa  fa-fw fa-minus dec-btn" (click)="handleDecreaseButton(recipeObj.recipeId)"></i>
 
                            </div>
                            <div>
                                <span class="fw-lighter add-item mb-2">{{recipeObj.getRecipeQty}}</span>
                            </div>
                            <div>
                                <!-- button1 -->
                                <i class="fa  fa-fw fa-plus inc-btn" (click)="handleIncreaseButton(recipeObj.recipeId)"></i>

                            </div>
                        </div>
                    </div>
                </div>
                <hr class="bg-dark border-2 border-top border-dark">
            </div>

        </div>



    </div>
</div>


<!-- </div> -->